.search-button{
  position: relative;
  right: 2rem;
  width: 4rem;
}
.header-icon{
  position: relative;
  right: 0.5rem;
}
.light-header-text{
  margin-bottom: 0;
}
.language-btn{
  position: relative;
  left: 50%;
}
/* ad */
.ad-background{
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: #dddddd;
}
/* promation */
.promation-container{
  margin: 3rem 0;
}
.promation-div{
  background-color: #eeeeee;
  padding: 1.5rem;
  margin: 2rem;
}
.promation-img{
  width: 80%;
}
