/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* .company-logo{
  width:50%;
} */
.search-button{
  position: relative;
  right: 2rem;
  width: 4rem;
}
.header-icon{
  position: relative;
  right: 0.5rem;
}
.light-header-text{
  margin-bottom: 0;
}
